<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPadrao">
<head>
<title>Cadastro Titulos</title>
</head>
<section layout:fragment="content">
	<form class="form-horizontal" method="POST" action="/titulos"
		th:object="${titulo}">
		<div layout:include="MensagemGeral"></div>
		<div layout:include="MensagemErro"></div>	
			
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="clearfix">
					<h1 class="panel-title aw-title-panel">Devolução de Dízimos</h1>
					<a class="btn btn-link aw-link-panel" href="/titulos">Voltar para pesquisa</a>
				</div>
			</div>

			<div class="panel-body">
			<input type="hidden" th:field="*{codigo}"/>
				<div class="form-group" th:classappend="${#fields.hasErrors('descricao')} ? has-error">
					<label for="desccricao" class="col-sm-2 control-label">Descrição/Nome</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="desccricao" th:field="*{descricao}" />
					</div>
				</div>

				<div class="form-group" th:classappend="${#fields.hasErrors('dataVencimento')} ? has-error">
					<label for="dataVencimento" class="col-sm-2 control-label">Data
						de vencimento</label>
					<div class="col-sm-2">
						<input type="text" class="form-control" id="dataVencimento" th:field="*{dataVencimento}" 
							data-provide="datepicker" data-date-format="dd/mm/yyyy" data-date-language="pt-BR"
							data-date-autoclose="true" data-date-today-higthlight="true" data-date-orientation="bottom"/>
					</div>
				</div>

				<div class="form-group" th:classappend="${#fields.hasErrors('valor')} ? has-error">
					<label for="valor" class="col-sm-2 control-label">Valor</label>
					<div class="col-sm-2">
						<input type="text" class="form-control js-currency" id="valor"  th:field="*{valor}" />
					</div>
				</div>

				<div class="form-group">
					<label for="status" class="col-sm-2 control-label">Status</label>
					<div class="col-sm-2">
						<select class="form-control" id="status" name="status">
							<option th:each="status : ${todosStatusTitulo}"
								th:value="${status}" th:text="${status.descricao}"></option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-success">Salvar</button>
					</div>
				</div>

			</div>
		</div>

	</form>
</section>
</html>